body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
   
}

header {
  background: #1d3557;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f1faee;
}

.cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.cart-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #e63946;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
}

/* Responsive  */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  display: flex;
  overflow: hidden;
}

.product-image {
  flex: 1;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  flex: 1;
  padding: 30px;
}

.product-info h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

/* .price {
  font-size: 22px;
  color: #e63946;
  font-weight: bold;
  margin-bottom: 20px;
} */

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.5;
}

.btn {
  background: #457b9d;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #1d3557;
}

.remove-button {
  background-color: #e45514ce;
  margin: 10px;
}

.remove-button:hover {
  background-color: #ff0015;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand {
  font-size: 13px;
  color: #666;
}

.price {
  font-size: 16px;
  font-weight: bold;
}


.btn-disable{
  background-color: gainsboro;
}

.btn-disable:hover{
  background-color: gainsboro;
}